{% extends 'base.html' %}

{% block content %}
<h1> Piedmont Puppies New Puppy Owner Survey</h1>
<p>
  At Piedmont Puppies we attempt to place our puppies’ into to homes that will be the best fit possible for both the puppy and the family.  Our desire is that the family that a puppy goes to will be a family a puppy can grow up with and enjoy through the entirety of their adult life.  In order to assist us in identifying the best puppy for your family we kindly request that you complete the below survey.
</p>

<form>
<p>
  First Name:<input type="text" name="first_name"><br>
  </p>

  <p>
  Last Name:<input type="text" name="last_name"><br>
  </p>

  <p>
  Phone Number:<input type="tel" name="phone_number"><br>
  </p>

  <p>
  Email Address:<input type="email" name="email"><br>
</p>

<p>
State:<input type="text" name="state"><br>
</p>

<p>
City:<input type="text" name="city"><br>
</p>


<p>
  Have you ever owned a dog before?<br>
  <input type="radio" name="answer_q1" value="yes"> Yes<br>
  <input type="radio" name="answer_q1" value="no"> No<br>
  </p>

<p>
  If you owned a dog previously, was it a positive experience?<br>
  <input type="radio" name="answerq_2" value="yes"> Yes<br>
  <input type="radio" name="answerq_2" value="no"> No<br>
</p>

<p>
  Please explain your experience:<br>
  <textarea rows="4" cols="50"></textarea>
<p>

<p>
  Do you have a home that has a yard where a dog can run & play?<br>
  <input type="radio" name="answerq_3" value="yes"> Yes<br>
  <input type="radio" name="answerq_3" value="no"> No<br>
</p>

<p>
  If you selected "NO" on the previous question, please explain how your dog would recieve the proper exercise.<br>
  <textarea rows="4" cols="50"></textarea>
</p>

<p>
  Do you have a daily routine that includes walking, jogging, or other exercise where your dog could accompany you?<br>
  <input type="radio" name="answerq_4" value="yes"> Yes<br>
  <input type="radio" name="answerq_4" value="no"> No<br>
</p>

<p>
  Does your house have a fence area where your dog could play and defecate?<br>
  <input type="radio" name="answerq_5" value="yes"> Yes<br>
  <input type="radio" name="answerq_5" value="no"> No<br>
</p>

<p>
  Do you have members in your household that would interact with a puppy?<br>
  <input type="radio" name="answerq_6" value="yes"> Yes<br>
  <input type="radio" name="answerq_6" value="no"> No<br>
</p>

<p>
  How many adults are in your household?<br>
  <input type="number"><br>
</p>

<p>
  How many children are in your household?<br>
  <input type="number"><br>
</p>

<p>
  Are you physically able to handle a dog that can weigh up to 40-65 pounds?<br>
  <input type="radio" name="answerq_7" value="yes"> Yes<br>
  <input type="radio" name="answerq_7" value="no"> No<br>
<p/>

<p>
  Do you have any other pets in your household?<br>
  <input type="radio" name="answerq_8" value="yes"> Yes<br>
  <input type="radio" name="answerq_8" value="no"> No<br>
  If you selected "YES" please explain:<br>
  <textarea rows="4" cols="50"></textarea><br>
  </p>

<p>
  If you have other dogs in the household, do they exhibit aggressive behavior on a regular basis?<br>
  <input type="radio" name="answerq_9" value="yes"> Yes<br>
  <input type="radio" name="answerq_9" value="no"> No<br>
  If you selected "YES" please explain:<br>
  <textarea rows="4" cols="50"></textarea><br>
  </p>

  <p>
    If you have other dogs in the household, are you up to date on their Rabies vaccinations?<br>
    <input type="radio" name="answerq_10" value="yes"> Yes<br>
    <input type="radio" name="answerq_10" value="no"> No<br>
    If you selected "NO" please explain:<br>
    <textarea rows="4" cols="50"></textarea><br>
    </p>

  <p>
      Does your employment require you to travel frequently?<br>
      <input type="radio" name="answerq_11" value="yes"> Yes<br>
      <input type="radio" name="answerq_11" value="no"> No<br>
    </p>
<p>
    If you do choose to travel, do you have another household member that can watch the dog while you are gone?<br>
    <input type="radio" name="answerq_12" value="yes"> Yes<br>
    <input type="radio" name="answerq_12" value="no"> No<br>
    If you selected "NO", how would your dog be cared for during your absence?<br>
    <textarea rows="4" cols="50"></textarea><br>
</p>

<p>
  Please describe your household’s lifestyle? (Check all that apply):<br>
  <input type="checkbox" name="lifestyle1" value="athletic"> Athletic<br>
  <input type="checkbox" name="lifestyle2" value="social"> Very Socially Minded<br>
  <input type="checkbox" name="lifestyle3" value="travel"> Travel Frequently<br>
  <input type="checkbox" name="lifestyle4" value="fast"> Fast Paced Lifestyle<br>
  <input type="checkbox" name="lifestyle5" value="home"> Home Bodies<br>
  <input type="checkbox" name="lifestyle6" value="lively"> Lively & Noisy<br>
  <input type="checkbox" name="lifestyle7" value="quiet"> Quiet & Somber<br>
  <input type="checkbox" name="lifestyle8" value="guests"> Frequently Hosts Guests<br>
  <input type="checkbox" name="lifestyle9" value="other"> Other<br>
  For "OTHER" Please Explain<br>
  <textarea rows="4" cols="50"></textarea><br>
</p>

<p>
  Why are you interested in purchasing a puppy at this time?<br>
  <textarea rows="4" cols="50"></textarea><br>
  </p>

<p>
  Do you have any goals for your puppy?<br>
  <input type="radio" name="answer_13" value="yes"> Yes<br>
  <input type="radio" name="answer_13" value="no"> No<br>
  If you selected "YES"  please explain:<br>
  <textarea rows="4" cols="50"></textarea><br>
</p>

<input type="submit">
</form>



{% endblock %}
